body {
  margin: 0;
  background-color: #4E4E4E;
  background-image: url(http://www.officeofworks.com/dots.png);
}

header {
  width: 600px;
  height: 600px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: auto;
  background-image: url(me.png);
  border-right: 2px dashed white;
  border-bottom: 2px dashed white;
  border-left: 2px dashed white;
  border-top: 1px solid black;
  margin-top: 0em;
}

.cool {
  font-size: 1em;
  text-align: center;
  font-family: monospace;
  color: yellow;
  position: absolute;
  top: -10px;
  left: -5em;
  width: 26em;
  padding-top: 2em;
  transform: rotate(-35deg) translate(-92px, 22px);
  transform-origin: 0 0;
  background-color: red;
}

.cool:hover {
  background-color: black;
  color: lightgray;
  opacity: 0.5;
}

h1 {
  bottom: -15em;
  left: 25%;
  position: relative;
  color: white;
  font-family: sans-serif;
}

h2 {
  font-family: monospace;
  bottom: -24em;
  left: 25%;
  position: relative;
  color: white;
}

.body {
  box-sizing: border-box;
  width: 100%;
  height: 45em;
  margin: auto;
  border-top: 2px solid black;
}

.info {
  position: relative;
  top: -1em;
  margin: auto;
  height: 60px;
  width: 500px;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
  z-index: -1;
  border: 2px dashed #DFDFDF;
}

.description {
  font-family: monospace;
  font-size: 1.5em;
  text-align: center;
  color: red;
}

.footer {
  clear: both;
  margin-bottom: auto;
  font-family: monospace;
  color: lightgray;
  text-align: center;
  height: 2em;
  background-color: gray;
  margin: 0;
}

.bio {
  box-sizing: border-box;
  float: left;
  width: 20%;
  height: 100%;
  margin: 0;
  background-color: #0080D5;
}

.bioheader {
  font-family: monospace;
  text-align: center;
  font-size: 1.75em;
  background-color: lightblue;
  color: black;
  margin: 0;
}

.biolist {
  list-style: square;
  font-family: monospace;
  color: lightblue;
  font-size: 1.50em;
  padding-right: 1em;
}

.nav {
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  background-color: black;
  color: gray;
  margin-top: -1em;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 0em;
  height: 2em;
}

li a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.movies {
  font-family: monospace;
  float: right;
  width: 60%;
  height: 100%;
  margin: 0;
  background-color: white;
  color: red;
}

.moviesHeader {
  text-align: center;
  font-size: 1.75em;
  background-color: #0080D5;
  color: black;
  margin: 0;
}

.movies blockquote {
  font-family: monospace;
  margin: 0.75em;
  font-style: oblique;
  color: black;
  border: 1px solid white;
}

.leftBody{
  float: left;
  width: 20%;
  background-color: #E87C01;
  height: 100%;
}

.p {
  margin-left: -6em;
  margin-top: 2em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  color: white;
  font-family: monospace;
  font-size: 2em;
}

.floatRight {
  height: -2em;
  float: right;
}
